.DS_Store
.vscode/*
**/__pycache__/*
data/*
**/.ipynb_checkpoints/*
lightning_logs/*
*.ipynb
outputs/*
venv
.idea/
.idea/**
results/
results/**
EDA/
EDA/**
visualization/
visualization/**
visualization.gif
cuda_memory_logger.py
cuda_memory.txt
**.npy
**.csv
visualization_for_paper/
visualization_for_paper/**
