git+https://github.com/airi-industrial-ai/fddbenchmark@v0.0.3
joblib~=1.3.2
numpy~=1.24.4
torch>=2.1.0
pytorch_lightning==1.8.2
torchvision>=0.16.0
tensorboard>=2.15.0
hydra-core==1.3

tqdm~=4.66.1
scikit-learn~=1.3.2
pandas~=2.0.3
scipy~=1.10.1
matplotlib~=3.7.2
cuml~=24.02.00